{% load url from future %}

<h4>Form:</h4>

    <form id="html_form" action="#" method="{{ form_view.method }}" target="_blank">
        <table>
            <tr>
                <td>
                    Action:
                </td>
                <td>
                    <select name="form_method" id="form_method">
                        <option value="POST" label="POST" {% if form_view.method == 'POST'%} selected="true" {% endif %}/>
                        <option value="GET" label="GET" {% if form_view.method == 'GET'%} selected="true" {% endif %}/>
                    </select>
                    <input name="form_action" id="form_action" type="input" value="{{ form_view.action }}" size="100"/>
                </td>
            </tr>
            {% for field in form_view.fields %}
                <tr>
                    <td>
                        {{ field.name }}
                    </td>
                    <td>
                        {% if field.type == 'text' %}
                            <input type="text" name="{{ field.name }}" value="{{ field.value }}" size="{{ field.size }}">
                        {% else %}
                            TODO
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <input type="button" name="form_submit" value="Submit" onclick="submit_form();">
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </table>
    </form>

<form id="form_to_send" action="#" target="_blank">


</form>

<script>
    var supporting_fields = new Array();
    {% for field in form_view.supporting_fields %}
        supporting_fields.push("{{field.name}}")
    {% endfor %}

    function submit_form(){
        $("#form_to_send").html("");

        $("#form_to_send").attr("action", $("#form_action").val());
        $("#form_to_send").attr("method", $("#form_method").val());

        $("#html_form :input").each(function(idx, input){
            if(input.name == 'form_action' || input.name == 'form_method' || input.name == 'form_submit')
                return;

            if(supporting_fields.indexOf(input.name) != -1){
                return;
            }

            if(input.value){
                $("#form_to_send").append('<input type="hidden" name="'+input.name+'" value="'+input.value+'" />');
            }
        });

        $("#form_to_send").submit();
    }
</script>
