{% load url from future %}

<h4>Forms for template {{ template.name }}:</h4>
<table>
    {% for form_on_the_list in forms %}
        <tr>
            <td>
                <a href="{% url 'creator.views.form' template.id form_on_the_list.id %}">
                    {{ form_on_the_list.name }}
                </a>
                <span class="author"> by {{ form_on_the_list.author }}</span>
                <a class="small" href="{% url 'creator.views.form_edit' template.id form_on_the_list.id %}">edit</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>
                No forms yet...
            </td>
        </tr>
    {% endfor %}
</table>
