body{
    margin: 0px;
    font-family: "DejaVu Sans";
    font-size: 10pt;
    color: #8a2be2;
}

h4 {
    margin: 4px;
    font-size: 12pt;
    color: black;
}

.menu{
    background-color: #808080;
}

a, a:link, a:visited, a:hover, a:active {
    font-weight: bold;
    font-size: 10pt;
    text-decoration: none;
    color: #8a2be2;
}

.author{
    font-size: 9px;
    color: #808080;
}

.small, a.small, a.small:link, a.small:visited, a.small:hover, a.small:active {
    font-size: 9px;
    color: #808080;
}